root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = tab
insert_final_newline = false
max_line_length = 250
tab_width = 4
ij_continuation_indent_size = 8
ij_smart_tabs = false

[*.json]
indent_style = space
indent_size = 2

[*.lock]
ij_formatter_enabled = false